<% provide(:title, @user.name) %>
<div class="row show-grid">
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <h1>
      <%= gravatar_for @user, size: 70 %>
      <%= @user.name %>
    </h1>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
    <%= @user.name %> <%= @user.email %>
  </div>
  <div class="col-lg-4">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count  %>)</h3>
      <ol class="microposts">
        <li>
          <%= render @microposts %>
        </li>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
