<% provide(:title, @user.name) %>
<div class="row show-grid">
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
    <h1>
      <%= gravatar_for @user, size: 70 %>
      <%= @user.name %>
    </h1>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 micrpopost-container">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count  %>)</h3>
      <ol class="microposts">
        
          <%= render @microposts %>
       
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
