    <header class="navbar navbar-fixed-top navbar-inverse row">
      <div class="navbar-inner">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
          <div class="col-lg-7 col-md-8 col-sm-6 col-xs-12  ">
            <%= link_to "sample app", root_path, id: "logo" %>
          </div>
          <nav class="col-lg-5 col-md-4 col-sm-6 col-xs-12 hepler">
            <ul class="nav nav-pills">
              <li role="presentation" class="active"><%= link_to "Home",      root_path  %></li>
              <li role="presentation"><%= link_to "Help",      help_path  %></li>
              <% if signed_in? %>
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle header-menu_btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    Account<span class="caret"></span>
                  </button>
                  <div class="dropdown-menu"  role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><%= link_to "Users", '#' %></li>
                    <li role="presentation"><%= link_to "Settings", '#' %></li>
                    <li role="presentation"><%= link_to "Profile", current_user %></li>
                    <div class="divider"></div>
                    <li role="presentation"><%= link_to "Sign out", signout_path, method: "delete" %></li>
                  </div>
                </div>
              <% else %>
                <li role="presentation"><%= link_to "Sign in",   signin_path  %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>

